.hero {
    background-image: url("https://speckyboy.com/wp-content/uploads/2020/11/high-resolution-4k-desktop-wallpaper-38.jpg") ;
    height:60vh;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;position: relative;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.heroContainer {
    border:3px solid #000;
    max-width: 70%;
    margin:0 auto;
    position: relative;
    padding:2em;
    
}
.heroInfo h1 {
    font-size:3em;
    margin-bottom: .5em;
    align-items: center;
    justify-content: center;
}
.heroInfo p {
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
}