.hero {
    background-image: url("https://speckyboy.com/wp-content/uploads/2020/11/high-resolution-4k-desktop-wallpaper-38.jpg") ;
    height:60vh;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;position: relative;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.heroContainer {
    border:3px solid #000;
    max-width: 70%;
    margin:0 auto;
    position: relative;
    padding:2em;
    
}
.heroInfo h1 {
    font-size:3em;
    margin-bottom: .5em;
}
.heroInfo p {
    font-size: 1.2em;
}

.heroContainer {
    border: 1px solid #000;
    max-width: 70%;
    margin: 0 auto;
    position: relative;
    padding: 1.25em 2em;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
} 
.heroInfo h1 {
    font-size: 3em;
    margin-bottom: .5em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.heroInfo p {
    font-size: 1.2em;
    letter-spacing: 0.08em;
}
.heroButton {
    background-color: rgba(0, 0, 0, .5);
    border: #000 1px solid;
    padding: .5em;
    color: #fff;
} 
   